# Processing all 7 data sets other than horse

In [129]:
import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
import matplotlib.pyplot as plt
from sklearn.model_selection import cross_val_score

In [130]:
# from google.colab import drive
# drive.mount('/content/gdrive')

In [131]:
iris = pd.read_csv('iris.data', header = None)
wine = pd.read_csv('wine.data', header = None)
zoo = pd.read_csv('zoo.data', header = None)
bank = pd.read_csv('banknote_authentication.data', header = None)
diab  = pd.read_csv('pima-indians-diabetes.data', header = None)
user = pd.read_csv('user-knowledge-modeling.data.txt', header = None)
seed = df = pd.read_table('seeds_dataset.txt', header = None)
glass = pd.read_csv('glass.data', header = None)
glass =glass.drop(columns = [0], axis = 1)

In [132]:
wine

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065,1
1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050,1
2,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185,1
3,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480,1
4,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740,3
174,13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750,3
175,13.27,4.28,2.26,20.0,120,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835,3
176,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840,3
177,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560,3

In [127]:
df_large = [iris, wine, zoo, bank, diab, user, glass, seed]
numrows = []
for i in range(len(df_large)):
  temp1 = len(df_large[i])
  numrows.append(temp1)

In [128]:
numrows

[150, 178, 101, 1372, 768, 258, 214, 210]

In [117]:
class rfg_classifier():
  def __init__(self, dataset, names):
    # Split dataset to train and label
    self.names = names
    global X
    global y
    X, y = self.pre_process(dataset)
    self.X_train, self.X_test, self.y_train, self.y_test = train_test_split(X, y, test_size=0.2, random_state=42)
    self.clf = RandomForestClassifier(max_depth=3, random_state=42)


  def train_model(self):
    self.clf.fit(self.X_train, self.y_train)

  def pre_process(self, dataset):
    x_data = dataset.iloc[:, :-1 ]
    y_data = dataset.iloc[:, -1: ]
    x_transformed = pd.DataFrame()
    # x_data = ohe.fit_transform(x_data)

    # For categorical data, have 
    for x in range(len(self.names)):
      ohe = OneHotEncoder()
      if self.names[x] == 'categorical':
        temp_value = ohe.fit_transform(x_data.iloc[:,[x]])
        x_data[ohe.categories_[0]] = temp_value.toarray()
        x_transformed[ohe.categories_[0]] = temp_value.toarray()
      else:
        x_transformed[x] = x_data.iloc[:,[x]]

    ohe = OneHotEncoder(handle_unknown='ignore', sparse=False)
    y_data = ohe.fit_transform(np.array(y_data))
    return x_transformed, y_data


  def predict(self):
    results = self.clf.predict(self.X_test)
    print(accuracy_score(self.y_test, results))
    print(classification_report(self.y_test, results))
    return results

  def predict_cv(self):
    score_rf=cross_val_score(self.clf,X, y,cv=10)
    print(score_rf)
    print("Avg :",np.average(score_rf))

# wine

In [8]:
wine_classifier = rfg_classifier(wine ,['numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical'])
wine_classifier.train_model()
wine_classifier.predict()
print()

0.9722222222222222
              precision    recall  f1-score   support

           0       0.93      1.00      0.97        14
           1       1.00      0.93      0.96        14
           2       1.00      1.00      1.00         8

   micro avg       0.97      0.97      0.97        36
   macro avg       0.98      0.98      0.98        36
weighted avg       0.97      0.97      0.97        36
 samples avg       0.97      0.97      0.97        36

In [9]:
wine_cv = rfg_classifier(wine ,['numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical'])
wine_cv.train_model()
wine_cv.predict_cv()
print()

[1.         0.83333333 0.94444444 0.88888889 0.83333333 1.
 0.94444444 0.88888889 0.94117647 1.        ]
Avg : 0.9274509803921569

# Iris

In [10]:
iris_classifier = rfg_classifier(iris, ['numerical','numerical','numerical','numerical'])
iris_classifier.train_model()
iris_classifier.predict()
print()

1.0
              precision    recall  f1-score   support

           0       1.00      1.00      1.00        10
           1       1.00      1.00      1.00         9
           2       1.00      1.00      1.00        11

   micro avg       1.00      1.00      1.00        30
   macro avg       1.00      1.00      1.00        30
weighted avg       1.00      1.00      1.00        30
 samples avg       1.00      1.00      1.00        30

In [11]:
iris_cv = rfg_classifier(iris, ['numerical','numerical','numerical','numerical'])
iris_cv.train_model()
iris_cv.predict_cv()
print()

[1.         1.         1.         1.         0.93333333 0.86666667
 1.         0.86666667 0.8        1.        ]
Avg : 0.9466666666666667

# German (not used)

In [12]:
german_classifier = rfg_classifier(german, ['categorical','numerical','categorical','categorical','numerical','categorical','categorical','numerical','categorical','categorical','numerical','categorical','numerical','categorical','categorical','numerical','categorical','numerical','categorical','categorical'])
german_classifier.train_model()
german_classifier.predict()
print()

0.715
              precision    recall  f1-score   support

           0       0.71      1.00      0.83       141
           1       1.00      0.03      0.07        59

   micro avg       0.71      0.71      0.71       200
   macro avg       0.86      0.52      0.45       200
weighted avg       0.80      0.71      0.61       200
 samples avg       0.71      0.71      0.71       200

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,

In [13]:
german_cv = rfg_classifier(german, ['categorical','numerical','categorical','categorical','numerical','categorical','categorical','numerical','categorical','categorical','numerical','categorical','numerical','categorical','categorical','numerical','categorical','numerical','categorical','categorical'])
german_cv.train_model()
german_cv.predict_cv()
print()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,

[0.76 0.68 0.78 0.73 0.72 0.6  0.69 0.68 0.72 0.68]
Avg : 0.704

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,

# Zoo

In [14]:
zoo_classifier = rfg_classifier(zoo, ['categorical','categorical','categorical','categorical','categorical','categorical','categorical','categorical','categorical','categorical','categorical','categorical','numerical','categorical','categorical'])
zoo_classifier.train_model()
zoo_classifier.predict()
print()

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3678: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[col] = igetitem(value, i)
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3678: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[col] = igetitem(value, i)
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3678: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[col] = igetitem(value, i)
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3678: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[col] = igetitem(value, i)
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3678: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[col] = igetitem(value, i)
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3678: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[col] = igetitem(value, i)
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3678: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[col] = igetitem(value, i)
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3678: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[col] = igetitem(value, i)
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3678: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[col] = igetitem(value, i)
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3678: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[col] = igetitem(value, i)
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3678: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[col] = igetitem(value, i)
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3678: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[col] = igetitem(value, i)
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3678: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[col] = igetitem(value, i)
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3678: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[col] = igetitem(value, i)

0.6190476190476191
              precision    recall  f1-score   support

           0       0.90      0.75      0.82        12
           1       0.50      1.00      0.67         2
           2       0.00      0.00      0.00         1
           3       0.40      1.00      0.57         2
           4       0.00      0.00      0.00         0
           5       0.00      0.00      0.00         3
           6       0.00      0.00      0.00         1

   micro avg       0.68      0.62      0.65        21
   macro avg       0.26      0.39      0.29        21
weighted avg       0.60      0.62      0.59        21
 samples avg       0.62      0.62      0.62        21

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in samples with no predicted labels. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [15]:
zoo_cv = rfg_classifier(zoo, ['categorical','categorical','categorical','categorical','categorical','categorical','categorical','categorical','categorical','categorical','categorical','categorical','numerical','categorical','categorical'])
zoo_cv.train_model()
zoo_cv.predict_cv()
print()

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3678: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[col] = igetitem(value, i)
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3678: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[col] = igetitem(value, i)
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3678: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[col] = igetitem(value, i)
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3678: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[col] = igetitem(value, i)
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3678: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[col] = igetitem(value, i)
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3678: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[col] = igetitem(value, i)
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3678: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[col] = igetitem(value, i)
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3678: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[col] = igetitem(value, i)
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3678: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[col] = igetitem(value, i)
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3678: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[col] = igetitem(value, i)
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3678: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[col] = igetitem(value, i)
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3678: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[col] = igetitem(value, i)
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3678: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[col] = igetitem(value, i)
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3678: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[col] = igetitem(value, i)

[0.72727273 0.4        0.4        0.6        0.9        0.8
 0.8        0.4        0.3        0.5       ]
Avg : 0.5827272727272728

# Bank

In [16]:
bank_classifier = rfg_classifier(bank, ['numerical','numerical','numerical','numerical'])
bank_classifier.train_model()
bank_classifier.predict()
print()

0.9381818181818182
              precision    recall  f1-score   support

           0       0.92      0.97      0.94       148
           1       0.96      0.91      0.93       127

   micro avg       0.94      0.94      0.94       275
   macro avg       0.94      0.94      0.94       275
weighted avg       0.94      0.94      0.94       275
 samples avg       0.94      0.94      0.94       275

In [17]:
bank_cv = rfg_classifier(bank, ['numerical','numerical','numerical','numerical'])
bank_cv.train_model()
bank_cv.predict_cv()
print()

[0.96376812 0.95652174 0.90510949 0.96350365 0.96350365 0.96350365
 0.94160584 0.91240876 0.95620438 0.94160584]
Avg : 0.9467735110546915

# Diabetes

In [18]:
diab_classifier = rfg_classifier(diab, ['numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical'])
diab_classifier.train_model()
diab_classifier.predict()
print()

0.7727272727272727
              precision    recall  f1-score   support

           0       0.78      0.90      0.84        99
           1       0.75      0.55      0.63        55

   micro avg       0.77      0.77      0.77       154
   macro avg       0.77      0.72      0.73       154
weighted avg       0.77      0.77      0.76       154
 samples avg       0.77      0.77      0.77       154

In [19]:
diab_cv = rfg_classifier(diab, ['numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical'])
diab_cv.train_model()
diab_cv.predict_cv()
print()

[0.7012987  0.81818182 0.68831169 0.67532468 0.76623377 0.81818182
 0.81818182 0.84415584 0.73684211 0.76315789]
Avg : 0.7629870129870131

# User

In [20]:
user_classifier = rfg_classifier(user, ['numerical','numerical','numerical','numerical','numerical'])
user_classifier.train_model()
user_classifier.predict()
print()

0.7692307692307693
              precision    recall  f1-score   support

           0       1.00      1.00      1.00        13
           1       0.68      0.93      0.79        14
           2       1.00      0.81      0.90        16
           3       1.00      0.11      0.20         9

   micro avg       0.87      0.77      0.82        52
   macro avg       0.92      0.71      0.72        52
weighted avg       0.91      0.77      0.77        52
 samples avg       0.77      0.77      0.77        52

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in samples with no predicted labels. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [21]:
user_cv = rfg_classifier(user, ['numerical','numerical','numerical','numerical','numerical'])
user_cv.train_model()
user_cv.predict_cv()
print()

[0.80769231 0.80769231 0.73076923 0.84615385 0.80769231 0.76923077
 0.92307692 0.69230769 0.8        0.88      ]
Avg : 0.8064615384615385

# Preprocessing for horse (not used)

In [82]:
with open('horse-colic.names') as fp:
    line = fp.readlines(1)
    col = line[0].splitlines()
    cols = list(col[0].split(','))

options = {'header': None, 'names': cols, 'skipinitialspace': True}


horse_df = pd.read_csv('horse-colic.data', **options)
horse_df[cols] = horse_df[cols].replace({"?":np.nan})

In [83]:
with open('horse-colic.names') as f:
    line2 = f.readlines(-1)
    col_type = line2[1].splitlines()
    col_types = list(col_type[0].split(','))

In [84]:
col_values = {}
for i in range(len(cols)):
    col_values[cols[i]] = [col_types[i], horse_df[cols[i]].dtype]

In [85]:
cat_data = []
num_data = []
for i in range(len(col_types)):
    if(col_types[i] == 'numerical'):
        num_data.append(cols[i])
    else:
        cat_data.append(cols[i])

In [86]:
cols_to_drop = [] #drop cols with more than 50% NaN

for col in num_data:
    if( (pd.isna(horse_df[col]).sum()) > 0 ):
        if( pd.isna(horse_df[col]).sum() > (50/100*len(horse_df[col])) ):
            cols_to_drop.append(col)
        else:
            horse_df[col] = horse_df[col].fillna(horse_df[col].median())
            
for col in cat_data:
    if( (pd.isna(horse_df[col]).sum()) > 0 ):
        if( pd.isna(horse_df[col]).sum() > (50/100*len(horse_df)) ):
            cols_to_drop.append(col)
        else:
            horse_df[col] = horse_df[col].fillna(horse_df[col].mode()[0])

In [87]:
cols_to_drop.append('Hospital Number')
cols_to_drop.append('class')
horse_df = horse_df.drop(cols_to_drop,axis = 1)

In [88]:
horse_surgery = horse_df['surgery'] # remove binary cols
horse_df = horse_df.drop('surgery',axis = 1)

horse_age = horse_df['Age']
horse_df = horse_df.drop('Age',axis = 1)

In [89]:
target = horse_df['surgical lesion?'] # remove target
horse_df = horse_df.drop('surgical lesion?',axis = 1)

In [90]:
cat_cols = [col for col in horse_df.columns if(col_values[col][0] == 'categorical') ]
#cat_cols

In [91]:
num_cols = [col for col in horse_df.columns if(col_values[col][0] == 'numerical') ]
#num_cols

In [92]:
for col in cat_cols: # one-hot encoding
    one_hot = pd.get_dummies(horse_df[col])
    horse_df = horse_df.drop(col ,axis = 1)
    horse_df = horse_df.join(one_hot)
    
    col_names = list(one_hot.columns)
    name_map = { i : str(col)+ '_' + str(i) for i in col_names }
    horse_df.rename(columns = name_map, inplace=True)

In [93]:
horse_df = horse_df.join(horse_surgery)# join binary and target cols
horse_df = horse_df.join(horse_age)
horse_df = horse_df.join(target)

In [94]:
horse_df

,rectal temperature,pulse,respiratory rate,packed cell volume,total protein,temperature of extremities_1,temperature of extremities_2,temperature of extremities_3,temperature of extremities_4,peripheral pulse_1,...,type of lesion 2_1400,type of lesion 2_3111,type of lesion 2_3112,type of lesion 2_6112,type of lesion 2_7111,type of lesion 3_0,type of lesion 3_2209,surgery,Age,surgical lesion?
0,38.50,66,28,45.00,8.40,0,0,1,0,0,...,0,0,0,0,0,1,0,2,1,2
1,39.2,88,20,50,85,0,0,1,0,1,...,0,0,0,0,0,1,0,1,1,2
2,38.30,40,24,33.00,6.70,1,0,0,0,1,...,0,0,0,0,0,1,0,2,1,2
3,39.10,164,84,48.00,7.20,0,0,0,1,1,...,0,0,0,0,0,1,0,1,9,1
4,37.30,104,35,74.00,7.40,0,0,1,0,1,...,0,0,0,0,0,1,0,2,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,38.2,120,70,55,65,0,0,0,1,1,...,0,0,0,0,0,1,0,1,1,2
296,37.20,72,24,44.00,7.5,0,0,1,0,0,...,0,0,0,0,0,1,0,2,1,1
297,37.50,72,30,60.00,6.80,0,0,0,1,0,...,0,0,0,0,0,1,0,1,1,1
298,36.50,100,24,50.00,6.00,0,0,1,0,0,...,0,0,0,0,0,1,0,1,1,1
299,37.2,40,20,36,62,0,0,1,0,1,...,0,0,0,0,0,1,0,1,1,2

# processing for horse (not used)

In [101]:
horse_classifier = rfg_classifier(horse_df, ['numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical',
                                             'numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical',
                                             'numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical',
                                             'numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical'])
horse_classifier.train_model()
horse_classifier.predict()
print()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:29: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`

0.8333333333333334
              precision    recall  f1-score   support

           0       0.80      0.97      0.88        38
           1       0.93      0.59      0.72        22

   micro avg       0.83      0.83      0.83        60
   macro avg       0.87      0.78      0.80        60
weighted avg       0.85      0.83      0.82        60
 samples avg       0.83      0.83      0.83        60

In [102]:
horse_cv = rfg_classifier(horse_df, ['numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical',
                                             'numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical',
                                             'numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical',
                                             'numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical'])
horse_cv.train_model()
horse_cv.predict_cv()
print()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:29: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`

[0.73333333 0.9        0.86666667 0.86666667 0.76666667 0.9
 0.9        0.86666667 0.86666667 0.83333333]
Avg : 0.8500000000000002

# Glass

In [123]:
glass_classifier = rfg_classifier(glass, ['numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical'])
glass_classifier.train_model()
glass_classifier.predict()
print()

0.6046511627906976
              precision    recall  f1-score   support

           0       0.77      0.91      0.83        11
           1       1.00      0.57      0.73        14
           2       0.00      0.00      0.00         3
           3       0.00      0.00      0.00         4
           4       0.00      0.00      0.00         3
           5       1.00      1.00      1.00         8

   micro avg       0.90      0.60      0.72        43
   macro avg       0.46      0.41      0.43        43
weighted avg       0.71      0.60      0.64        43
 samples avg       0.60      0.60      0.60        43

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in samples with no predicted labels. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [126]:
glass_cv = rfg_classifier(glass, ['numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical','numerical'])
glass_cv.train_model()
glass_cv.predict_cv()
print()

[0.13636364 0.18181818 0.09090909 0.77272727 0.23809524 0.28571429
 0.38095238 0.         0.14285714 0.        ]
Avg : 0.22294372294372294

# Seeds

In [118]:
seed_classifier = rfg_classifier(seed, ['numerical','numerical','numerical','numerical','numerical','numerical','numerical'])
seed_classifier.train_model()
seed_classifier.predict()
print()

0.8333333333333334
              precision    recall  f1-score   support

           0       0.64      0.82      0.72        11
           1       1.00      1.00      1.00        14
           2       0.86      0.71      0.77        17

   micro avg       0.83      0.83      0.83        42
   macro avg       0.83      0.84      0.83        42
weighted avg       0.85      0.83      0.84        42
 samples avg       0.83      0.83      0.83        42

In [119]:
seed_cv = rfg_classifier(seed, ['numerical','numerical','numerical','numerical','numerical','numerical','numerical'])
seed_cv.train_model()
seed_cv.predict_cv()
print()

[0.9047619  0.71428571 0.80952381 0.9047619  1.         0.95238095
 0.61904762 1.         1.         0.66666667]
Avg : 0.8571428571428571